@import url(minireset.css);

:root {
    --clr-orange: hsl(31, 77%, 52%);
    --clr-cyan: hsl(184, 100%, 22%);
    --clr-dark-cyan: hsl(179, 100%, 13%);
    --clr-white: hsla(0, 0%, 100%, 0.75);
    --clr-light-gray: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-white);
    --fs-s: 0.625rem;
    --fs-m: 0.75rem;
    --fs-l: 2rem;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--clr-light-gray);
  align-items: center;
}

main {
    /* width: clamp(256px, 80%, 920px); */
    margin: 0 auto;
    padding: 5em 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;  
    outline: 0.5rem solid var(--clr-light-gray);
    border-radius: 0.5rem;  
}

.column {
    display: grid;
    gap: 2.5em;
    padding: 2.5em;
    width: min(320px, 100%);
}

.column:nth-child(1) {
    background-color: var(--clr-orange);
}

.column:nth-child(2) {
    background-color: var(--clr-cyan);
}

.column:nth-child(3) {
    background-color: var(--clr-dark-cyan);
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: var(--fs-l);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--clr-light-gray);
}

p {
    font-size: var(--fs-s);
    max-width: 25ch;
    line-height: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--clr-cyan);
}

.btn {
    font-size: var(--fs-m);
    font-weight: bold;
    padding: 1em 0em;
    text-align: center;
    background-color: var(--clr-light-gray);
    border-radius: 2em;
    border: 1px solid currentColor;
}

.column:nth-child(1) .btn {
    color: var(--clr-orange);
}

.column:nth-child(2) .btn {
    color: var(--clr-cyan);
}

.column:nth-child(3) .btn {
    color: var(--clr-dark-cyan);
}

.btn:hover {
    color: var(--clr-light-gray) !important;
    background-color: transparent;
} 

footer {
    text-align: center;
    font-size: var(--fs-s);
    color: var(--clr-dark-cyan);
    padding: 1em 0;
}

@media screen and (min-width: 768px) {

    :root {
        font-size: 1.2rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}